@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #efeff1;
}

ul {
  list-style: none;
}

header {
  background-color: #fff;
  color: #6070ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 0.9rem;
  font-weight: 700;
  color: #6070ff;
  font-size: 1.5em;
  box-shadow: 0 12px 6px -6px rgba(231, 226, 226, 0.9);
  position: relative;
}
  
.logo {
  text-decoration: none;
  color: inherit;
  left: 76px; 
  animation: color-change 5s ease-in-out;
  transition: all 0.5s ease;
} 

.logo:hover {
  transform: scale(1.07);
  letter-spacing: 2px;
  transition: all 0.5s ease;
}

.logo:active {
  background-color: white;
  color: #1c32ff;
}

.logo:focus-visible {
  color: #ffffff;
}


.menu-icon {
  display: flex;
  float: right;
  margin-top: 4px;
  padding-left: 0;
  margin-left: 0;
  margin-right: 10px;
  color: rgba(102, 115, 232, 0.7);
  flex-direction: row-reverse;
  cursor: pointer;
}

.menubar {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: #1662e7;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.navbar-lists {
  display: none;
  color: #ffffff;
}

.navbar-link:hover {
  color:  #703dc3;
  text-decoration: underline;
  transform: scale(1.07);
  letter-spacing: 2px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.navbar-link:active {
  background-color: white;
  color: #1c32ff;
}

.navbar-link:focus-visible {
  color: #ffffffff;
}

.mobile_navbar {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  flex-direction: column;
  backdrop-filter: blur(5px);
  padding: 70px 15px 15px 10px;
  -webkit-backdrop-filter: blur(5px);
  background: rgba(96, 109, 231, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.mobile_navbar .mobile_navbar-link {
  width: 100%;
  display: block;
  font-size: 32px;
  font-weight: 600;
  line-height: 70px;
  color: #fff;
  gap: 2rem;
  text-align: center;
}

.close-icon {
  top: 14px;
  color: #6b36ad;
  font-size: 18px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  right: 30px;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
  background: #eeeff8;
}

.close-icon:hover {
  background: #703dc3;
}

.mobile-navbar > li {
  margin-top: 35px;
}

/*------end of header section--------*/
main {
  margin-top: 50px;
}

.main-heading {
  max-height: 800px;
  min-height: 600px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7%;
  border-radius: 0 0 0 4em;
  background-color: #fff;
  background-image: url(./resources/images/header-shapes-mobile.png);
  background-size: 100%;
  background-position-x: center;
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 10px;
}
  
.heading {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.hd-title {
  margin: 10px 0;
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
  animation: drop-in 5s ease-in-out;
  filter: drop-shadow(4px 4px 1px rgb(211 211 211));
}

.hd-title:hover {
  color: #703dc3;
  filter: drop-shadow(4px 4px 1px rgb(169, 169, 169));
}

.hd-title:focus {
  color: #ffffff;
}

  
.hd-intro-text {
  margin: 10px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-right: 90px;
  padding-bottom: 10px;
  filter: drop-shadow(3px 3px 1px rgb(211 211 211));
}
  
.connect {
  color: #364afb;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 24px;
  padding-bottom: 20px;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  background-color: transparent;
  background-color: #fff;
  transition: all 0.5s ease;
}

.connect:hover {
  color:  #703dc3;
  text-decoration: underline;
  transform: scale(1.07);
  letter-spacing: 2px;
  transition: all 0.5s ease;
}

.connect:active {
  background-color: white;
  color: #1c32ff;
}

.connect:focus {
  color: #ffffff;
}

  
.social-icons {
  display: flex;
  align-items: center;
  color: #505f79;
  list-style: none;
}
  
.social-icons > a,
i {
  text-decoration: none;
  color: #505f79;
  font-size: 1.25rem;
  padding-right: 1em;
}

.social-icons > a, i:hover {
  color: #ffffff;
  transform: translateY(-5px);
}

.icons {
  color: #444;
  font-size: 20px;
}

.icons:hover {
  color: #fff;
}

.social-icons .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  padding: 8px;
  margin-right: 5px;
  width: 36px;
  height: 36px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.social-icons .icon:hover {
  transition: all 0.5s ease-in;
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 0.6rem;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 0.5s ease-in;
}

.tooltip:hover {
  transition: all 0.5s ease-in;
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
  top: -30px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: all 0.5s ease-in;
}

.icon:hover span,
.icon:hover .tooltip {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.linkedin:hover,
.linkedin:hover .tooltip,
.linkedin:hover .tooltip::before {
  background: #007bb5;
  color: #fff;
}

.twitter:hover,
.twitter:hover .tooltip,
.twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.mail:hover,
.mail:hover .tooltip,
.mail:hover .tooltip::before {
  background: #e1150e;
  color: #fff;
}

.github:hover,
.github:hover .tooltip,
.github:hover .tooltip::before {
  background: #333;
  color: #fff;
}

.wellfound:hover,
.wellfound:hover .tooltip,
.wellfound:hover .tooltip::before {
  background: #ea2c00;
  color: #fff;
}

/*----end of heading section--------*/
/*-----start of Work section--------*/ 
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projects-cards {
  color: #172b4d;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 8em 7% 0 7%;
  padding: 1em 1em 2em 1em;
}

.card > img {
  width: 100%;
  animation-name: zoom-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.card-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding: 0.25em 0;
  font-style: normal;
}

.cl-project {
  display: flex;
  align-items: center;
  padding: 0.25em 0;
}

.cl-project > p {
  font-weight: 600;
}

.jobs {
  color: #6b778c;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding-right: 2px;
}

.year {
  color: #6b778c;
  font-style: normal;
  width: 38px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding-left: 2px;
}

.dot {
  font-size: 0.75em;
  padding: 0 0.75em;
  color: #7a869a;
}

.intro-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0.25em 0;
}

.cl-project > i {
  color: #c1c7d0;
  font-size: 0.5rem;
}

.tools {
  display: flex;
  color: #6070ff;
  margin: 0.25em 0;
  list-style-type: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.language {
  color: #6070ff;
  background-color: #ebebff;
  margin: 0 0.5rem 0 0;
  padding: 0.25em 0.75em;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

button {
  font-family: inherit;
  background: #fff;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  font-size: 1.05em;
  font-weight: 500;
  letter-spacing: 0.03em;
  width: auto;
  margin: 1em 0;
  cursor: pointer;
}

.btn-see {
  width: 128px;
}

button:hover {
  background: #8591d7;
  box-shadow: 0 0.5em 1em #4053fc3d;
  color: #fff;
}

button:active {
  background: #2230d2;
  color: #fff;
}

button:disabled,
button[disabled] {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

/*------end of heading and banner section------------*/
/*------start of Work section-------------*/ 

.about {
  background-color: #fff;
  border-radius: 0 6em 0 0;
  margin: 8em 0 0 0;
}

.about-container {
  padding: 5em 7% 0 7%;
}

.about-skills {
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  width: 100%;
}

.skills {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  margin-left: -20px;
  margin-right: -12px;
}

.skills li {
  display: flex;
  list-style-type: none;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  padding-right: 150px;
  margin-top: 8px;
}

.skill-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skill-link {
  display: flex;
  justify-content: flex-start;
  background-color: #f7f7f9;
  border-radius: 0.5em;
  padding: 0.5em;
  align-items: center;
}

.skill-name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #253858;
  font-size: 15px;
  padding-top: 4%;
}

.skill-heading {
  display: flex;
  justify-content: space-between;
  padding: 2em 1em 2em 0;
}

.subheading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.about-skills > hr {
  height: 2px;
  background: #dfe1e6;
  border: none;
}

/* ---------------About section end----------------------*/
/* ---------------Contact section start----------------------*/
.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 6em 0 0 0;
  padding: 3em;
  border-radius: 5em 0 0 0;
  background-color: #6070ff;
  background-image: url('./recsources/images/contact\ form\ shapes-mobile.png');
  background-repeat: no-repeat;
  background-position-x: right;
}  

.contact-title {
  text-align: center;
  margin-top: 0.75em;
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 52px;
}

.form-intro {
  text-align: center;
  margin-top: 0.75em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 0.75em;
}

.contact-form > input:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid #f7f7f9;
  box-shadow: 0 0 2px #f7f7f9;
}

.text-input {
  margin-top: 0.75em;
  padding: 0.75em;
  width: 100%;
  border: 1px solid #cfd8dc;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  border-radius: 8px;
}

.form-button {
  align-self: flex-start;
}

/* ----------Mobile version end---------*/

/* ----------Animation start---------*/

/*----color change animation----*/
@keyframes color-change {
  0% {
    color: burlywood;
  }
  25% {
    color: rgb(110, 196, 120);
  }

  50% {
    color: #1662e7;
  }

  75% {
    color: #c481d8;
  }

  100% {
    color: rgb(255, 10, 10);
  }
}

/*--drop-in animation---*/
.drop-in {
  animation: drop-in 1s ease 200ms backwards;
}

.drop-in-1 {
  animation: drop-in 1200ms ease 500ms backwards;
}

.drop-in-2 {
  animation: drop-in 1500ms ease 800ms backwards;
}

.drop-in-3 {
  animation: drop-in 2s ease 1200ms backwards;
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

/*--fly-in animation---*/
.fly-in-1 {
  animation: fly-in 1s ease 200ms backwards;
}

.fly-in-2 {
  animation: fly-in 1200ms ease 500ms backwards;
}

.fly-in-3 {
  animation: fly-in 1400ms ease 800ms backwards;
}

.fly-in-4 {
  animation: fly-in 1600ms ease 1100ms backwards;
}

.fly-in-5 {
  animation: fly-in 1800ms ease 1400ms backwards;
}

.fly-in-6 {
  animation: fly-in 2s ease 1700ms backwards;
}

@keyframes fly-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

/*--fade-in animation---*/
.fade-in-1 {
  animation: fade-in 1s ease 200ms backwards;
}

.fade-in-2 {
  animation: fade-in 1200ms ease 500ms backwards;
}

.fade-in-3 {
  animation: fade-in 1400ms ease 800ms backwards;
}

.fade-in-4 {
  animation: fade-in 1600ms ease 1100ms backwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

/*-----zoom-in animation----*/
@keyframes zoom-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}


/* ----------Animation end---------*/
/*------ Desktop version of site-------- */

@media screen and (min-width: 768px) {

  header {
    padding: 23px;
    padding-bottom: 75px;
  }

  .logo > a {
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    margin: 0 0 0 100px;
    font-size: 18px;
  }

  .menubar {
    display: none;
  }

  .navbar-lists {
    position: absolute;
    top: 8px;
    right: 120px;
    display: flex;
    margin-top: 15px;
    padding: 0;
    color: #6070ff;
    font-size: 18px;
  }

  .navbar-link {
    margin: 0 10px;
    cursor: pointer;
    color: #344563;
    font-size: 15px;
  }

  .main-heading {
    border-radius: 0 0 0 4em;
    background-color: #fff;
    background-image: url('./resources/images/Header\ bg.png');
    background-size: 96%;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .heading {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 751px;
    height: 268px;
  }

  .hd-title {
    align-items: center;
    color: #172b4d;
  }

  .social-icons {
    margin-block: 10px;
  }

/*------end of heading and banner section------------*/
/*------start of Work section-------------*/ 

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5em;
    padding: 1em;
  }

  .card > img {
    width: 100%;
    height: 400px;
  }

  .card-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .card:nth-child(even) > img {
    order: 2;
  }

  .card:nth-child(even) > .card-details {
    order: 1;
  }

/*------end of heading and banner section------------*/
/*------start of Work section-------------*/ 

.about-container {
  display: flex;
  flex-direction: row;
  height: 590px;
}

.about-heading {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 40%;
}

.lg-title {
  font-size: 40px;
}

.about .connect {
  margin-left: 0;
}

.about-skills {
  width: 60%;
}

.skills {
  margin-top: -28px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
}

.skill-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.skill-link {
  flex-direction: column;
  height: 120px;
  margin-top: 36px;
  padding-top: 2%;
  padding-left: 2%;
  width: 122px;
  align-items: flex-start;
}

.skill-link-img {
  width: fit-content;
}

/* ---------------About section end----------------------*/
/* ---------------Contact section start----------------------*/

  .form-container {
    background-color: #6070ff;
    background-image: url('./recsources/images/contact\ form\ background\ shapes.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-content: center;
    padding: 10% 25%;
    margin-top: 0;
  }

  .text-input {
    border-radius: 0;
  }

  .form-button {
    align-self: center;
  }

  .contact-form {
    margin: 7% 13% 0 13%;
  }

}


