@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #fefeff;
}

ul {
  list-style: none;
}

header {
  background-color: #fff;
  color: #6070ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
  
.logo > a {
  text-decoration: none;
  color: inherit;
  left: 76px; 
}  

/*------end of header section--------*/

.main-heading {
  max-height: 800px;
  min-height: 550px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7%;
  border-radius: 0 0 0 4em;
  background-color: #fff;
  background-image: url(./resources/images/header-shapes-mobile.png);
  background-size: 100%;
  background-position-x: center;
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 10px;
}
  
.heading {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.title {
  margin: 10px 0;
  display: flex;
  font-family: 'Poppins'sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
}
  
.intro-text {
  margin: 10px 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-right: 90px;
  padding-bottom: 10px;
}
  
.connect {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
}
  
.social-icons {
  display: flex;
  align-items: center;
  color: #505f79;
  list-style: none;
}
  
.social-icons > a,
i {
  text-decoration: none;
  color: #505f79;
  font-size: 1.25rem;
  padding-right: 1em;
}
/*----end of heading section--------*/
/*-----------------start of Work section-----------------------------*/ 
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projects-cards {
  color: #172b4d;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 8em 7% 0 7%;
  padding: 1em 1em 2em 1em;
}

.card > img {
  width: 100%;
}

.card-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding: 0.25em 0;
  font-style: normal;
}

.cl-project {
  display: flex;
  align-items: center;
  padding: 0.25em 0;
}

.cl-project > p {
  font-weight: 600;
}


  