@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #fefeff;
}

ul {
  list-style: none;
}

header {
  background-color: #fff;
  color: #6070ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
  
.logo > a {
  text-decoration: none;
  color: inherit;
  left: 76px; 
}  

/*------end of header section--------*/

.main-heading {
  max-height: 800px;
  min-height: 550px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7%;
  border-radius: 0 0 0 4em;
  background-color: #fff;
  background-image: url(./resources/images/header-shapes-mobile.png);
  background-size: 100%;
  background-position-x: center;
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 10px;
}
  
.heading {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.title {
  margin: 10px 0;
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
}
  
.hd-intro-text {
  margin: 10px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-right: 90px;
  padding-bottom: 10px;
}
  
.connect {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 15px;
}
  
.social-icons {
  display: flex;
  align-items: center;
  color: #505f79;
  list-style: none;
}
  
.social-icons > a,
i {
  text-decoration: none;
  color: #505f79;
  font-size: 1.25rem;
  padding-right: 1em;
}
/*----end of heading section--------*/
/*-----------------start of Work section-----------------------------*/ 
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projects-cards {
  color: #172b4d;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 8em 7% 0 7%;
  padding: 1em 1em 2em 1em;
}

.card > img {
  width: 100%;
}

.card-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding: 0.25em 0;
  font-style: normal;
}

.cl-project {
  display: flex;
  align-items: center;
  padding: 0.25em 0;
}

.cl-project > p {
  font-weight: 600;
}

.jobs {
  color: #6b778c;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding-right: 2px;
}

.year {
  color: #6b778c;
  font-style: normal;
  width: 38px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding-left: 2px;
}

.dot {
  font-size: 0.75em;
  padding: 0 0.75em;
  color: #7a869a;
}

.intro-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0.25em 0;
}

.cl-project > i {
  color: #c1c7d0;
  font-size: 0.5rem;
}

.tools {
  display: flex;
  color: #6070ff;
  margin: 0.25em 0;
  list-style-type: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.language {
  color: #6070ff;
  background-color: #ebebff;
  margin: 0 0.5rem 0 0;
  padding: 0.25em 0.75em;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

button {
  font-family: inherit;
  background: #fff;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  font-size: 1.05em;
  font-weight: 500;
  letter-spacing: 0.03em;
  width: auto;
  margin: 1em 0;
  cursor: pointer;
}

.btn-see {
  width: 128px;
}

/*------end of heading section------------*/
/*------start of Work section-------------*/ 

.about {
  background-color: #fff;
  border-radius: 0 6em 0 0;
  margin: 8em 0 0 0;
}

.ab-container {
  padding: 5em 7% 0 7%;
}

.ab-heading {
  width: 100%;
}

.lg-title {
  color: #172b4d;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 52px;
}

.skill-details {
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  width: 100%;
}

.skills {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  margin-left: -20px;
  margin-right: -12px;
}

.skills li {
  display: flex;
  list-style-type: none;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  padding-right: 150px;
  margin-top: 8px;
}

.ab-skill {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skill-body {
  display: flex;
  justify-content: flex-start;
  background-color: #f7f7f9;
  border-radius: 0.5em;
  padding: 0.5em;
  align-items: center;
}

.skill-into {
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #253858;
  font-size: 15px;
  padding-top: 4%;
}

.skill-heading {
  display: flex;
  justify-content: space-between;
  padding: 2em 1em 2em 0;
}

.subheading {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.skill-details > hr {
  height: 2px;
  background: #dfe1e6;
  border: none;
}

/* ---------------About section end----------------------*/
/* ---------------Contact section start----------------------*/
.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 6em 0 0 0;
  padding: 3em;
  border-radius: 5em 0 0 0;
  background-color: #6070ff;
  background-image: url('./recsources/images/contact\ form\ shapes-mobile.png');
  background-repeat: no-repeat;
  background-position-x: right;
}  

.contact-title {
  text-align: center;
  margin-top: 0.75em;
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 52px;
}

.form-intro {
  text-align: center;
  margin-top: 0.75em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 0.75em;
}

.text-input {
  margin-top: 0.75em;
  padding: 0.75em;
  width: 100%;
  border: 1px solid #cfd8dc;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  border-radius: 8px;
}

.form-button {
  align-self: flex-start;
}

/* ----------Mobile version end-------------*/


